[Unit]
After=weave-proxy.service
Description=Weave Network DNS
Documentation=http://docs.weave.works/
Requires=weave-proxy.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
ExecStartPre=-/opt/bin/weave stop-dns
ExecStartPre=-/usr/bin/docker rm -f weavedns
ExecStartPre=/opt/bin/weave launch-dns
ExecStart=/usr/bin/docker logs -f weavedns
SuccessExitStatus=2
ExecStop=-/opt/bin/weave stop-dns

[Install]
WantedBy=weave-network.target
