[Unit]
After=docker.service
Description=Weave Network Router
Documentation=http://docs.weave.works/
Requires=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/weave.env
ExecStartPre=-/opt/bin/weave stop
ExecStartPre=-/usr/bin/docker rm -f weave
ExecStartPre=/opt/bin/weave launch -iprange $WEAVE_IP_RANGE $WEAVE_PEERS
ExecStart=/usr/bin/docker logs -f weave
SuccessExitStatus=2
ExecStop=-/opt/bin/weave stop

[Install]
WantedBy=weave-network.target