[Unit]
After=weave.service
Description=Weave Network DNS
Documentation=http://docs.weave.works/
Requires=weave.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/weave.env
ExecStartPre=-/usr/local/bin/weave stop-dns
ExecStartPre=/usr/local/bin/weave launch-dns
ExecStart=/usr/bin/docker logs -f weavedns
SuccessExitStatus=2
ExecStop=/usr/local/bin/weave stop-dns

[Install]
WantedBy=weave-network.target