ZOOKEEPER_VERSION = "{{ zookeeper_version }}"
ZOOKEEPER_DATA = "{{ zookeeper_data }}"
ZOOKEEPER_HOST_NAME = "{{ zookeeper_host_name }}"
ZOOKEEPER_DOCKER_ARGS = "{{ zookeeper_docker_args }}"
BRIDGE_IP = "{{ zookeeper_bridge_ip }}"
