DOCKER_HOST = "unix://{{ weave_unix_socket }}"
ZOOKEEPER_VERSION = "{{ zookeeper_version }}"
ZOOKEEPER_DATA = "{{ zookeeper_data }}"
ZOOKEEPER_NAME = "{{ zookeeper_name }}"
ZOOKEEPER_CIDR = "{{ zookeeper_cidr }}"
ZOOKEEPER_DOCKER_ARGS = "{{ zookeeper_docker_args }}"
