[Unit]
After=network-online.target
Before=weave.service
After=docker.service
Description=Install Weave
Documentation=http://docs.weave.works/
Requires=docker.service
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/curl --silent --location \
  https://github.com/weaveworks/weave/releases/download/latest_release/weave \
  --output /usr/bin/weave
ExecStartPre=/bin/chmod +x /usr/bin/weave
ExecStartPre=-/usr/bin/weave stop
ExecStartPre=/usr/bin/weave setup
ExecStartPre=-/usr/bin/weave create-bridge
ExecStart=/bin/echo Weave Installed

[Install]
WantedBy=weave-network.target
WantedBy=weave.service