[Unit]
After=install-weave.service
After=docker.service
Description=Weave Network Router
Documentation=http://docs.weave.works/
Requires=docker.service
Requires=install-weave.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/weave.env
ExecStartPre=-/usr/bin/weave stop
ExecStartPre=/usr/bin/weave launch $WEAVE_PEERS
ExecStart=/usr/bin/docker logs -f weave
SuccessExitStatus=2
ExecStop=/usr/bin/weave stop

[Install]
WantedBy=weave-network.target