DOCKER_HOST = "unix://{{ weave_unix_socket }}"
MARATHON_VERSION = "{{ marathon_version }}"
MARATHON_NAME = "{{ marathon_name }}"
MARATHON_CIDR = "{{ marathon_cidr }}"
ZOOKEEPER_NODES = "{{ marathon_zookeeper_nodes }}"
