[Unit]
After=weave-proxy-nginx.service
Description=Mesos Slave Node
Documentation=https://github.com/sekka1/mesosphere-docker
Requires=weave-proxy-nginx.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/mesos_slave.env
ExecStartPre=-/usr/bin/docker stop $MESOS_NAME
ExecStartPre=-/usr/bin/docker rm -f $MESOS_NAME
ExecStart=/usr/bin/docker run --name $MESOS_NAME --privileged -v ${MESOS_LOG_DIR}:/var/log/mesos -v ${MESOS_WORK_DIR}:/tmp/mesos -v /sys:/sys -v /usr/bin/docker:/usr/bin/docker:ro -v ${MESOS_DOCKER_SOCK}:/var/run/docker.sock -e MESOS_IP=${MESOS_IP} -e MESOS_HOSTNAME=${MESOS_HOSTNAME} -e WEAVE_CIDR=${MESOS_CIDR} -e MESOS_CONTAINERIZERS=docker -e MESOS_MASTER=zk://${ZOOKEEPER_NODES}/mesos cleawing/mesos:${MESOS_VERSION} /opt/run-slave.sh
ExecStop=-/usr/bin/docker stop $MESOS_NAME
