user nginx;
worker_processes auto;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {
	upstream weave-proxy {
		server 127.0.0.1:12375 max_fails=5;
	}
	
	server {
		listen unix:{{ weave_unix_socket }};
		proxy_pass weave-proxy;
	}
}
