[Unit]
After=weave-proxy.service
Description=Consul Agent
Documentation=https://registry.hub.docker.com/u/progrium/consul/
Requires=weave-proxy.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/consul.env
ExecStartPre=-/usr/bin/docker rm -f consul
ExecStart=/usr/bin/docker run --name consul -h $CONSUL_HOST_NAME -v ${CONSUL_DATA}:/data cleawing/consul:${CONSUL_VERSION} $CONSUL_START_ARGS
ExecStop=/usr/bin/docker stop consul
