[Unit]
After=weave.service
Description=Consul Master Node
Documentation=https://registry.hub.docker.com/u/progrium/consul/
Requires=weave.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
EnvironmentFile=/etc/consul_master.env
ExecStartPre=-/usr/bin/docker rm -f consul-master
ExecStart=/usr/bin/docker run --name consul-master -h $CONSUL_HOST_NAME -v ${CONSUL_DATA}:/data -p ${BRIDGE_IP}:8300:8300 -p ${BRIDGE_IP}:8301:8301 -p ${BRIDGE_IP}:8301:8301/udp -p ${BRIDGE_IP}:8302:8302 -p ${BRIDGE_IP}:8302:8302/udp -p ${BRIDGE_IP}:8400:8400 -p ${BRIDGE_IP}:8500:8500 -p ${BRIDGE_IP}:53:53 -p ${BRIDGE_IP}:53:53/udp cleawing/consul:${CONSUL_VERSION} -advertise $BRIDGE_IP $CONSUL_MASTER_ARGS -retry-join $CONSUL_RETRY_JOIN
ExecStop=-/usr/bin/docker stop consul-master
