DOCKER_HOST = "tcp://localhost:12375"
MESOS_VERSION = "{{ mesos_version }}"
MESOS_WORK_DIR = "{{ mesos_work_dir }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_HOSTNAME = "{{ mesos_host_name }}"
MESOS_QUORUM = "{{ mesos_quorum }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
