DOCKER_HOST = "unix://{{ weave_unix_socket }}"
CONSUL_VERSION = "{{ consul_version }}"
CONSUL_DATA = "{{ consul_data }}"
CONSUL_NAME = "{{ consul_slave_name }}"
CONSUL_CIDR = "{{ consul_slave_cidr }}"
CONSUL_ADVERTISE = "{{ consul_slave_cidr.replace('/16', '') }}"
CONSUL_RETRY_JOIN = "{{ consul_retry_join }}"
