DOCKER_HOST = "tcp://localhost:12375"
CONSUL_VERSION = "{{ consul_version }}"
CONSUL_DATA = "{{ consul_data }}"
CONSUL_HOST_NAME = "{{ consul_host_name }}"
CONSUL_START_ARGS = "{{ consul_start_args }}"
