CONSUL_VERSION = "{{ consul_version }}"
CONSUL_DATA = "{{ consul_data }}"
CONSUL_HOST_NAME = "{{ consul_master_host_name }}"
CONSUL_MASTER_ARGS = "{{ consul_master_args }}"
CONSUL_RETRY_JOIN = "{{ consul_retry_join }}"
BRIDGE_IP = "{{ consul_bridge_ip }}"
