DOCKER_HOST = "unix://{{ weave_unix_socket }}"
CONSUL_VERSION = "{{ consul_version }}"
CONSUL_DATA = "{{ consul_data }}"
CONSUL_NAME = "{{ consul_master_name }}"
CONSUL_CIDR = "{{ consul_master_cidr }}"
CONSUL_ADVERTISE = "{{ consul_master_cidr.replace('/16', '') }}"
CONSUL_MASTER_ARGS = "{{ consul_master_args }}"
CONSUL_RETRY_JOIN = "{{ consul_retry_join }}"
