WEAVE_IP_RANGE = "{{ weave_bridge_ip | replace('1/16', '0/16') }}"
WEAVE_DNS = "{{ weave_dns_cidr }}"
WEAVE_PEERS = "{{ weave_launch_peers }}"
WEAVE_PASSWORD = "{{ weave_password }}"
DOCKER_BRIDGE = "weave"