WEAVE_PEERS = "{{ weave_launch_peers }}"
WEAVE_PASSWORD = "{{ weave_password }}"
BRIDGE_ADDRESS_CIDR = "{{ weave_bridge_ip }}"
BREAKOUT_ROUTE = "{{ weave_bridge_ip | replace('1/16', '0/16') }}"
DOCKER_OPTS = "{{ weave_docker_opts}}"
DOCKER_BRIDGE = "weave"