DOCKER_HOST = "tcp://localhost:12375"
MESOS_VERSION = "{{ mesos_version }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_HOSTNAME = "{{ mesos_slave_host_name }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
