MESOS_VERSION = "{{ mesos_version }}"
MESOS_CLUSTER_NAME = "{{ mesos_cluster_name }}"
MESOS_WORK_DIR = "{{ mesos_work_dir }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_HOSTNAME = "{{ mesos_master_host_name }}"
MESOS_QUORUM = "{{ mesos_quorum }}"
BRIDGE_IP = "{{ mesos_bridge_ip }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
