DOCKER_HOST = "unix://{{ weave_unix_socket }}"
MESOS_VERSION = "{{ mesos_version }}"
MESOS_CLUSTER_NAME = "{{ mesos_cluster_name }}"
MESOS_WORK_DIR = "{{ mesos_work_dir }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_NAME = "{{ mesos_master_name }}"
MESOS_HOSTNAME = "{{ mesos_master_name }}.weave.local"
MESOS_QUORUM = "{{ mesos_quorum }}"
MESOS_CIDR = "{{ mesos_master_cidr }}"
MESOS_IP = "{{ mesos_master_cidr.replace('/16', '') }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
