MESOS_VERSION = "{{ mesos_version }}"
MESOS_WORK_DIR = "{{ mesos_work_dir }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_HOSTNAME = "{{ mesos_slave_host_name }}"
BRIDGE_IP = "{{ mesos_bridge_ip }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
