DOCKER_HOST = "unix://{{ weave_unix_socket }}"
MESOS_VERSION = "{{ mesos_version }}"
MESOS_WORK_DIR = "{{ mesos_work_dir }}"
MESOS_LOG_DIR = "{{ mesos_log_dir }}"
MESOS_NAME= "{{ mesos_slave_name }}"
MESOS_HOSTNAME = "{{ mesos_slave_name }}.weave.local"
MESOS_CIDR = "{{ mesos_slave_cidr }}"
MESOS_IP = "{{ mesos_slave_cidr.replace('/16', '') }}"
MESOS_DOCKER_SOCK = "{{ weave_unix_socket }}"
ZOOKEEPER_NODES = "{{ mesos_zookeeper_nodes }}"
